<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubProfilesApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>357A4A4C2CF7A85000A8C77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357A4A5E2CF7A85200A8C77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357A4A682CF7A85200A8C77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
